*{
    margin: 0;
    padding: 0;
    font-family:  'Poppins', sans-serif;
    box-sizing: border-box;
}
body :not(header){
    animation: transitionIn 1s;
}
body{
    background: #080808;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    /* padding: 5px; */
    z-index: 9999; 
    /* background-color: rgba(111, 157, 147, 0.8); */
    background-color: #334b45;
    
}

.container{
    padding: 10px 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #b3f2e4;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 60px;
    font-size: 30px;
    padding-right: 50%;
    text-align: center;

    width: 100%;
    height: 100vh;
    background-image: url(images/picture3.JPG);
    background-size: cover;
    background-position: center;
}
#home-text{
    margin-top: 300px;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}
.header-text h1 span{
    color:  #b3f2e4;
    font-weight: bolder;
}
.btn.back-btn{
    display: right;
    padding: 10px;
    margin: 0;
    margin-right: 30px;
    font-size: 20px;
}
/* ------------- about ------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about1{
    flex-basis: 35%;
}
.about1 img{
    width: 100%;
    border-radius: 15px;
}
.about2{
    flex-basis: 60%;

}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #b3f2e4;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #6f9d93;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.certificate{
    border-radius: 2em;
    width: fit-content;
    background: #fff;
    color: #334b45;
    border-style: solid;
    border-color: #334b45;  
    text-decoration: none;
    padding: 1px 5px;
}
/* -------------extracurricular------------- */
#extracurricular{
    padding: 30px 0;
}
.extracurricular-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.extracurricular-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.extracurricular-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.extracurricular-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.extracurricular-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.extracurricular-list div:hover{
    background: #586462;
    transform: translateY(-10px);
}
.learn-more:hover{
    color: #080808;
    font-size: medium;
}
/* --------------projects-------------- */
#projects{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
} 
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    max-width: 1080px;
    max-height: 1080px;
    transition: transform 0.5s;
}
.pics img{
    width: 100%;
    border-radius: 10px;
    display: block;
    max-width: 1080px;
    max-height: 1080px;
}
.pics.space img{
    padding: 0 20px;
}
.pic-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 20px 0;
}
.layer{ 
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0, 0.6), #6f9d93);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h2{
    font-weight: 500;
    margin-bottom: 20px;
    /* font-size: 30px; */
}
.layer h3.project-name{
    font-size: 30px;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #334b45;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.layer p{
    margin-bottom: 20px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #6f9d93;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #6f9d93 ;
}
.subtitle.project-subtitle{
    padding-top: 80px;
    text-align: center;
}
.project-btn{
    border-radius: 2em;
    width: 90px;
    background: #fff;
    color: #334b45;
    border-style: solid;
    border-color: #334b45;  
}
.proj-text{
    margin: 0 50px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.5;
}
/* ----------------contact---------------- */
.contact{
    /* flex-basis: 35%; */
    margin: 50px auto;
    
}
.contact p{
    margin-top: 30px;
}
.contact p i{
    color: #6f9d93;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #6f9d93;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #334b45;
    color: #b3f2e4;
}
.btn.btn2:hover{
    background: #ababab;
    color: #080808;
    border-color: black;
}
/* -------copyright----------- */
.copyright{
    width: 100%;
    text-align: center;
    padding:  25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
/* -------------------CSS for small screen ------------------- */

nav .top-icon{
    display: none;
}
 
@media only screen and (max-width: 820px){
    .header-text{
        /* margin-top: 115%; */
        font-size: 16px;
        background-image: url(images/phone-background.png);

    }
    #home-text{
        margin-top: 430px;
    }
    .header-text h1{
        font-size: 30px ;
        margin-top: 20px;
    }
    nav .top-icon{
        display: block;
        font-size: 25px;
        padding-right: 20px;
    }
    nav ul{
        background: #6f9d93;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .top-icon{
        position: absolute;
         top: 25px;
         left: 25px;
         cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .about1, .about2{
        flex-basis: 100%;
    }
    .about1{
        margin-bottom: 30px;
    }
    .about2{
        font-size: 14px;;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
}
/* -------------------animation page loader ------------------- */
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}